@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: white;
  background-color: #282c34!important;
  z-index: -1!important;
}

body {
  color: white;
  background-color: #282c341c!important;
  z-index: -1!important;
}

body input,
body textarea {
  color: black;
}

a {
  color: #2d7bd4;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}

.light {
	background-color:rgba(0,0,0,0.0) !important;
	color: #000 !important;
}

.gray{
  background-color: #282c34!important;
  color: white;
}

.light2 {
	background-color:rgba(255, 255, 255, 0.4) !important;
	color: rgb(10, 10, 34) !important;
	z-index: 1;
}

.askai{
  color:white !important;
  font-size:13px;
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}
